body{
    background: rgb(217,232,239);
    background: linear-gradient(194deg, rgba(217,232,239,1) 9%, rgba(234,242,245,1) 89%);
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: Inter;
}

.body {
    width:97%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content auto auto auto auto auto;
    gap: 0% 0%;
    grid-auto-flow: row;
    gap: 3% 3%; 
    grid-template-areas:
      "headerUno headerDos"
      "mainUno mainDos"
      "mainTres mainCuatro"
      "mainCinco mainSeis"
      "mainSiete mainOcho"
      "footerUno footerDos";

  }
  
  .headerUno { grid-area: headerUno;
                display: flex;
                justify-content: center;
    img{
        max-width: 166;
        max-height: 92px;
        border-radius: 5%;
    }
}

  .headerDos { 
        grid-area: headerDos;
        align-self: center;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        font-feature-settings: 'salt' on, 'liga' off;
        place-self: center;
    li{
        list-style: none;
        display: flex;
        justify-content: center;
 

  }
}
  

  
  .mainUno { grid-area: mainUno;
    padding-left: 11.5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    h1{
        font-weight: 800;
        font-size: 72px;
        line-height: 98px;
    }
    h3{
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;

    }
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        text-align: justify;
    }
    .textoMainUno {
        margin: 0px;
    }

}
  
  .mainDos { grid-area: mainDos; 
    display: flex;
    justify-content: flex-end;
    img{
        border-radius: 5%;
        width: 100%;

    }

}
  
.mainTres {
    grid-area: mainTres;
        padding-left: 11.5%;
    img{
        width: 100%;
    }
        
  }

  
  .mainCuatro {
      grid-area: mainCuatro; 
    
      h1{
        font-weight: 800;
        font-size: 72px;
        line-height: 98px;
    }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
    }
    li{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        font-feature-settings: 'salt' on, 'liga' off;
        padding-left: 10%;
    }
      #callToAction {
        width: fit-content;
        padding: 1.5%;
        height: 40px;
        left: 48px;
        top: 480px;
        background: #8C30F5;
        border-radius: 8px;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 40px 0px;
        color: white;
        display: flex;
        align-items: center;
        margin-left: 20%;
      }
      #advertencia{
          display: flex;
          justify-content: flex-end;  
        }
    }
  
  .mainCinco { grid-area: mainCinco; }
  
  .mainSeis { grid-area: mainSeis; }
  
  .mainSiete { grid-area: mainSiete; }
  
  .mainOcho { grid-area: mainOcho; }

  .footerUno { grid-area: footerUno; }
  
  .footerDos { grid-area: footerDos; }
  

  


