body {
  background: #d9e8ef;
  background: linear-gradient(194deg, #d9e8ef 9%, #eaf2f5 89%);
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  font-family: Inter;
  padding-bottom: 60%;
  /* whatsapp sticky codeopen kevin castro*/
  /* whatsapp sticky codeopen kevin castro fin*/
}

body .floating_btn {
  position: fixed;
  bottom: 1%;
  right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

@-webkit-keyframes pulsing {
  to {
    -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  to {
    -webkit-box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

body .contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  -webkit-box-shadow: 0 0 0 0 #42db87;
          box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body .divDos {
  color: blue;
  text-align: left;
}

body h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
}

body h3 {
  font-weight: 800;
  font-size: 43px;
  line-height: 54px;
}

body p {
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
  text-align: justify;
}

body li {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  padding-left: 10%;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
}

body a {
  text-decoration: none;
}

body .callToAction {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5%;
  height: 40px;
  left: 48px;
  top: 480px;
  background: #8C30F5;
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 40px 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .advertencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body iframe {
  width: -webkit-fill-available;
}

.body {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  gap: 0% 0%;
  grid-auto-flow: row;
  gap: 1.5% 1.5%;
      grid-template-areas: "headerUno headerUno" "mainUno mainDos" "mainTres mainCuatro" "mainCinco mainCinco" "mainSeis mainSiete" "mainOcho mainOcho" "mainNueve mainDiez" "mainOnce mainOnce" "mainDoce mainDoce";
}

.body a {
  text-decoration: none;
}

.body .headerUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: headerUno;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .headerUno p {
  display: contents;
  font-size: 32px;
}

.body .headerUno img {
  max-width: 166;
  max-height: 92px;
  border-radius: 5%;
}

.body .headerDos {
  grid-area: headerDos;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  -webkit-font-feature-settings: 'salt' on, 'liga' off;
          font-feature-settings: 'salt' on, 'liga' off;
  place-self: center;
  text-align: -webkit-center;
}

.body .headerDos li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .mainUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainUno;
  padding-left: 11.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.body .mainUno .textoMainUno {
  margin: 0px;
}

.body .mainDos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mainDos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body .mainDos img {
  border-radius: 5%;
  width: 100%;
}

.body .mainTres {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainTres;
  padding-left: 11.5%;
}

.body .mainTres img {
  width: 100%;
}

.body .mainCuatro {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mainCuatro;
  text-align: -webkit-center;
}

.body .mainCinco {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainCinco;
  text-align: center;
}

.body .mainSeis {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: mainSeis;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body .mainSiete {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: mainSiete;
  width: -webkit-fill-available;
}

.body .mainOcho {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainOcho;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.body .mainNueve {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: mainNueve;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.body .mainDiez {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: mainDiez;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.body .mainOnce {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainOnce;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-align: -webkit-center;
}

.body .mainDoce {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainDoce;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-align: -webkit-center;
}

.body .mainDoce img {
  width: -webkit-fill-available;
}

@media (max-width: 1000px) {
  body {
    background: #d9e8ef;
    background: linear-gradient(194deg, #d9e8ef 9%, #eaf2f5 89%);
    margin: 0;
    padding: 0%;
    padding-bottom: 80%;
  }
  .body {
    gap: 1.5%;
  }
  .body .mainTres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainTres;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body .mainTres img {
    width: -webkit-fill-available;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .body .mainDos {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: mainDos;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .body .mainDos img {
    border-radius: 5%;
    width: -webkit-fill-available;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 3%;
  }
}

@media (max-width: 800px) {
  body {
    background: #d9e8ef;
    background: linear-gradient(194deg, #d9e8ef 9%, #eaf2f5 89%);
    margin: 0;
    padding: 0%;
    padding-bottom: 60%;
  }
  body h1 {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  body h3 {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  body p {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 0.5% 0.5%;
        grid-template-areas: "headerUno" "headerDos" "mainUno" "mainDos" "mainCuatro" "mainTres" "mainCinco" "mainSeis" "mainSiete" "mainOcho" "mainDiez" "mainNueve" "mainOnce" "mainDoce";
  }
  .body p {
    padding-left: 3%;
    padding-right: 3%;
  }
  .body .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .body .headerUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: headerUno;
  }
  .body .headerDos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: headerDos;
  }
  .body .headerDos li {
    padding-left: 0%;
  }
  .body .headerDos li ul {
    padding: 10px;
  }
  .body .mainDos {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: mainDos;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .body .mainDos img {
    border-radius: 5%;
    width: -webkit-fill-available;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .body .mainTres {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: mainTres;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body .mainTres img {
    width: -webkit-fill-available;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 2%;
  }
  .body .mainCuatro {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: mainCuatro;
  }
  .body .mainCinco {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: mainCinco;
  }
  .body .mainSeis {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: mainSeis;
  }
  .body .mainSiete {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: mainSiete;
    width: -webkit-fill-available;
  }
  .body .mainOcho {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: mainOcho;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .body .mainNueve {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    grid-area: mainNueve;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .body .mainNueve .ti-widget {
    padding-left: 5%;
  }
  .body .mainDiez {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: mainDiez;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .body .mainOnce {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    grid-area: mainOnce;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    text-align: -webkit-center;
  }
  .body .mainDoce {
    -ms-grid-row: 14;
    -ms-grid-column: 1;
    grid-area: mainDoce;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    text-align: -webkit-center;
  }
}

@media (max-width: 600px) {
  body {
    background: #d9e8ef;
    background: linear-gradient(194deg, #d9e8ef 9%, #eaf2f5 89%);
    margin: 0;
    padding: 0%;
    padding-bottom: 60%;
  }
  body h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 1.5%;
  }
  body h3 {
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding-left: 1.5%;
  }
  body p {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-left: 1.5%;
  }
  body li {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    -webkit-font-feature-settings: 'salt' on, 'liga' off;
            font-feature-settings: 'salt' on, 'liga' off;
    padding-left: 10%;
  }
  .body .headerUno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */